

a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
body{
    margin: 0;
    background-color: #14110e;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.header{
    background-color: #1c1814;
}

.container{
    max-width: 1920px;
    padding-left: 300px;
    padding-right: 300px;
margin: 0 auto;    
}

/* header */
.list-menu{
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #c99e71;
}
.address{
    font-style: normal;
    margin-left: auto;
}

.list-adress{
font-weight: 400;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #fff;
}
/* header flex */
.header-container{
    display: flex;
    align-items: center;
}
.navigattion{
    display: flex;
    align-items: center;
}
.menu-flex{
    display: flex;
    justify-content: center;
    gap: 48px;
}
.adress-flex{
    display: flex;
    justify-content: center;
    gap: 48px;
    
}
.logo-icon{
margin: 0 auto;
border: 0;
display: block;
background: transparent;
padding-top: 32px;
padding-bottom: 33px;
}

/* Секцыя 1 */
.afisha{
    background: linear-gradient(180deg, rgba(1, 1, 2, 0.5) 0%, rgba(1, 1, 2, 0.5) 100%), url(./img/Rectangle12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 166px;

   
}

.heading{
    max-width: 529px;
    padding-top: 147px;
    padding-bottom: 32px;
font-weight: 400;
font-size: 72px;
line-height: 94px; 
line-height: 1.3;
color: #fff;
}

.paragraf-heading{
    max-width: 511px;
font-weight: 500;
font-size: 20px;
line-height: 36px; 
line-height: 1.8;
text-transform: capitalize;
color: rgba(255, 255, 255, 0.8);
padding-bottom: 64px;
}

.button-heading{
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;   
gap: 10px;
padding: 24px 40px;
width: 202px;
height: 70px;
background-color: #c99e71;

}

/* Секція 2 */
.price-section{
    padding-top: 140px;
}
.key-price{
    margin-bottom: 140px;
}
.price-list{
display: flex;
justify-content: center;
align-items: center;
gap: 36px;
}
.coffe-rek{
    margin-bottom: 24px;
    text-align: center;
}
.text-rek{
font-weight: 400;
font-size: 24px;
color: #fff;
}
.color-text{
text-transform: uppercase;
color: #c99e71;
}

/* kart */
.kartt-container{
    margin-bottom: 140px;
}
.kart-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.imj-kart{
    margin-bottom: 32px;
}
.kart-menu{
    width: 510px;
height: 635px;
background-color: #1c1814;
}
/* kart menu */
.container-cart{
  padding-top: 120px;
  padding-bottom: 147px;
  padding-left: 56px;
  padding-right: 56px;
}
.kart-history{
font-weight: 600;
font-size: 18px;
color: #c99e71;
max-width: 89px;
}
.logo-kart{
    margin-top: 12px;
font-weight: 400;
font-family: "Noto Serif", serif;
font-size: 48px;
line-height: 1.3em;
color: #fff;
width: 298px;
}
.paragraf-kart-menu{
    font-family: "Noto Serif", serif;
font-weight: 500;
font-size: 16px;
line-height: 1.8;
text-transform: capitalize;
color: rgba(255, 255, 255, 0.8);
margin-top: 36px;
}
/* 3 Секция */
.popular-sil{
    text-align: center;
display: grid;
font-weight: 600;
font-size: 18px;
color: #c99e71;
}
.logo-popular{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 56px;
font-weight: 400;
font-size: 48px;
line-height: 1.3;
color: #fff;
}
/* tovar popul */
.list-popul-tovara{
    display: flex;
    justify-content: center;
    gap: 36px;
    
}
.cart-tovara{
    width: 366px;
    height: 579px;
background-color: #121315;
}
.img-cart-popul{
padding-left: 48px;
padding-right: 48px;
padding-top: 48px;
padding-bottom: 36px;
}
.logo-price-cart{
    text-align: center;
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: #fff;
}
.button-popul{
    margin: 0 auto;
    margin-top: 38px;
    display: block;
    width: 169px;
height: 48px;
background-color: #c99e71;
font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
color: #fff;
   

}
.a-coffe{
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
color: #c99e71;
justify-content: center;
display: flex;
gap: 4px;
}

.cofee-svg-kart{
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: #fff;
text-align: center;
margin-top: 20px;
}

.coffe-cart-svg-price{
font-weight: 600;
font-size: 18px;
text-transform: uppercase;
color: #fff;
text-align: center;
margin-top: 20px;
}
.svg-price-color{
    color: #c99e71;
}
.price-kolor-tu{
    text-decoration: line-through;
}
/* product */
.button-product{
display: block;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 126px;
    padding: 20px 36px;
    background: #c99e71;
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
color: #fff;
}
/* coffe mahina */
.conteiner-coffe-machina{
    width: 1170px;
height: 530px;
background-color: #1c1814;
display: flex;
margin: 0 auto;
}
.img-aparat{
    margin-top:85px;
    margin-left: 169px;
    margin-bottom: 86px;
}
.logo-coffe-machina{

font-weight: 400;
font-size: 48px;
line-height: 1.3;
color: #fff;
width: 501px;
margin-left: 160px;
margin-top: 72px;
}
.paragraf-coffe-machina{
font-weight: 500;
font-size: 16px;
line-height: 1.8;
text-transform: capitalize;
color: rgba(255, 255, 255, 0.8);
max-width: 526px;
margin-left: 160px;
margin-top: 36px;
}
.button-coffe-aparat{
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 36px;
width: 215px;
height: 62px;
background-color: #c99e71;
margin-left: 160px;
margin-top: 36px;
}
/* menu */
.section-menu{
    margin-top: 10px;
}
.menu-p{
    font-weight: 600;
    font-size: 18px;
    color: #c99e71;
    margin-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}